.fit {
  min-height: calc(100vh - 88px);
}

/* datepicker */
@import 'react-datepicker/dist/react-datepicker.css';
.react-datepicker {
  border: none;
  width: 100%;
}
.react-datepicker__month-container {
  background-color: #fff;
  color: #fff;
  font-size: 1rem;
  font-family: 'Mulish';
  width: 80%;
}
.react-datepicker__header {
  background-color:transparent;
  margin: 0.4rem;
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #000;
  display: inline-block;
  width: 12.5%;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #4d6055;
}
.react-datepicker__day-name {
  border: none;
}
.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  cursor: default;
  color: #ccc;
  border-color: #f0f0f0;
  background-color: #f0f0f0;
}
.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled :hover {
  pointer-events: none;
}
.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  background-color: lightblue;
  border-radius: 0;
}
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected,
.react-datepicker__day--selected {
  background-color: #4d6055;
  border-radius: 0;
}
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text--keyboard-selected:hover,
.react-datepicker__quarter-text--keyboard-selected:hover,
.react-datepicker__year-text--keyboard-selected:hover {
  background-color: #4d6055;
}

li.react-datepicker__time-list-item--disabled {
  display: none !important;
}

.react-datepicker__time-container {
  width: 20%;
}

.react-datepicker__navigation--previous {
  left: 0;
  top: 14px;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 20%;
  top: 14px;
}