.fit {
  min-height: calc(100vh - 56px);
}

@media screen and (min-width: 640px) {
  .fit {
    min-height: calc(100vh - 96px);
  }
}

/* datepicker */
@import 'react-datepicker/dist/react-datepicker.css';
.react-datepicker {
  border: none;
  width: 100%;
  background-color: var(--gray);
}
.react-datepicker__month-container {
  background-color: var(--gray);
  color: #fff;
  font-size: 1rem;
  font-family: 'Mulish';
  width: 100%;
}
.react-datepicker__header {
  background-color: var(--gray);
  margin: 0.4rem;
  border: none;
}
/* two arrow buuttons, left and right. */
.react-datepicker__navigation {
  top: 16px !important;
  height: 16px;
  width: 16px;
}
.react-datepicker__navigation-icon {
  display: none;
}
.react-datepicker__navigation--previous {
  left: unset !important;
  right: 32px;
}
.react-datepicker__navigation--previous::after {
  content: '';
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 1L4 8L12 15' stroke='%238D5535'/%3E%3C/svg%3E%0A");
}
.react-datepicker__navigation--next {
}
.react-datepicker__navigation--next::after {
  content: '';
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 15L12 8L4 1' stroke='%238D5535'/%3E%3C/svg%3E%0A");
}

/* outside ccurrent month */
.react-datepicker__day--outside-month {
  opacity: 0 !important;
  pointer-events: none;
}
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  font-size: 16px;
  line-height: 24px;
  color: var(--brown);
  text-align: start;
}
/* this is the weekday from monday to sunday */
.react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
}
.react-datepicker__day-name {
  border: none !important;
}
/* this is the each day in the week */
.react-datepicker__week {
  display: flex;
  justify-content: space-between;
}
.react-datepicker__day {
  margin: 0;
  background-color: white;
  padding-top: 14px;
  padding-bottom: 14px;
  height: 50px;
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  flex: 1;
  color: var(--brown);
  font-size: 14px;
  line-height: 22px;
  display: inline-block;
  width: unset;
  vertical-align: middle;
  text-align: center;
  border: 0.5px solid #e5e5e5;
}

.react-datepicker__month {
  margin: 0;
}

.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  cursor: default;
  color: var(--brown);
  border-color: #f0f0f0;
  background-color: rgba(202, 182, 158, 0.1);
}
.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled :hover {
  pointer-events: none;
}
.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  background-color: lightblue;
  border-radius: 0;
}
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected,
.react-datepicker__day--selected {
  background-color: var(--brown);
  border-radius: 0;
  color: var(--gray);
}
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text--keyboard-selected:hover,
.react-datepicker__quarter-text--keyboard-selected:hover,
.react-datepicker__year-text--keyboard-selected:hover {
  background-color: #4d6055;
}

li.react-datepicker__time-list-item--disabled {
  display: none !important;
}

.react-datepicker__time-container {
  width: 20%;
}

.react-datepicker__navigation--previous {
  left: 0;
  top: 14px;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 20%;
  top: 14px;
}
