@font-face {
  font-family: 'kessler';
  src: url('../public/assets/fonts/kesslerdisplayweb-regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'optima';
  src: url('../public/assets/fonts/OptimaLTPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'optima';
  src: url('../public/assets/fonts/OptimaLTPro-Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@tailwind base;
@import './base.css';

@tailwind components;
@import './components.css';

@tailwind utilities;

@import './globorequestforquote.css';

/* above three @tailwind are to introduce tailwind to this project. After that, tailwind can be used in this project */
/* beside tailwind, you can still define your own classes */
/* the reason why this work is that this main.css file will be imported in _app.tsx.
Therefore this css file just work like global.css. */
