.root {
  @apply grid  gap-0;
}
.root > * {
  @apply row-span-1;
  height: 600px;
  max-height: 800px;
}
/* all the direct children of .root */

.layoutA {
  @apply grid-cols-1;
}
.layoutB {
}
/* @screen md {
  .layoutNormal > * {
    max-height: min-content !important;
  }
}

@screen lg {
  .root {
    @apply grid-cols-3 grid-rows-2;
  }

  .root > * {
    @apply col-span-1;
    height: inherit;
  }

  .layoutNormal > * {
    max-height: 400px;
  }
} */
