.input {
  border: none;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 38px;
  outline: none;
  width: 100%;
  margin-bottom: 8px;
  background-color: white;
  border-radius: 5px;
}

.input::placeholder {
  @apply text-brown text-body-2 transition;
  opacity: 0.5;
}
.inputError::placeholder {
  @apply text-brown text-body-2;
  opacity: 1;
}
.inputError:focus::placeholder {
  @apply text-brown text-body-2;
  opacity: 0.5;
}

/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.input[type='number'] {
  -moz-appearance: textfield;
}
