.root {
  @apply cursor-pointer inline-flex
    px-16 py-4  transition ease-in-out duration-150
    shadow-sm text-center justify-center uppercase
    border border-transparent items-center text-body-2 
    tracking-wide;
  max-height: 48px;
  font-family: inherit;
}
.root:hover {
  @apply border-accent-9 bg-accent-6;
}

.root:focus {
  @apply shadow-outline-normal outline-none;
}
.toRequest {
  @apply bg-gold text-darkGray;
}
.naked {
  @apply bg-transparent  border-none shadow-none outline-none py-0 px-0;
}

.slim {
  @apply py-2;
}

.naked:hover,
.naked:focus {
  @apply bg-transparent border-none;
}
.floating {
  @apply p-2 bg-gray rounded-md text-darkGray text-nav;
}
.loading {
  @apply bg-accent-1 text-accent-3 border-accent-2 cursor-not-allowed;
}
.disabled,
.disabled:hover {
  @apply text-accent-4 border-accent-2 bg-accent-1 cursor-not-allowed;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
