.root {
  @apply relative flex items-center;
}

.list {
  @apply flex flex-row items-center justify-items-end h-full gap-x-10;
}

.item {
  @apply cursor-pointer relative transition ease-in-out
  duration-100 flex items-center outline-none text-nav;
}

.item:hover {
  @apply transition scale-110 duration-100;
}

.item:first-child {
  @apply ml-0;
}

.item:focus,
.item:active {
  @apply outline-none;
}
.account {
  @apply hidden md:block;
}
.bagCount {
  @apply bg-white text-brown absolute rounded-full left-[calc(100%+2px)] -top-[2px] flex items-center justify-center font-bold text-nav;
  padding-left: 2.5px;
  padding-right: 2.5px;
  min-width: 1.25rem;
  min-height: 1.25rem;
}

.avatarButton {
  @apply inline-flex justify-center rounded-full;
}

.mobileMenu {
  @apply flex md:hidden  text-white;
}

.avatarButton:focus,
.mobileMenu:focus {
  @apply outline-none;
}

.dropdownDesktop {
  @apply hidden -z-10;
}

@media screen(lg) {
  .dropdownDesktop {
    @apply block;
  }
  .dropdownMobile {
    @apply hidden;
  }
}
