.root {
  @apply sticky top-0 w-full bg-gray z-40 transition-all duration-150 h-[56px] sm:h-[96px];
  border-bottom: solid 0.5px var(--gold);
}
/* the reason why using sticky instead of fixed is that by using sticky and top:0px, 
the normal dom flow will not be interrupted, and the main content will not be covered by
navbar. But using fixed, the navbar will cover the main content.
*/
.bgColorA {
  background-image: linear-gradient(
    to right bottom,
    #0a0605,
    #0b0705,
    #0c0706,
    #0c0806,
    #0d0807
  );
}

.nav {
  @apply relative flex flex-row  justify-between text-nav items-center h-full;
}

.navMenu {
  @apply ml-6 space-x-4;
}

.link {
  @apply inline-flex items-center leading-6
  transition ease-in-out duration-75 cursor-pointer
  text-gold;
}

.link:hover {
  @apply text-accent-9;
}

.link:focus {
  @apply outline-none text-accent-8;
}

.logo {
  @apply cursor-pointer rounded-full border transform duration-100 ease-in-out;

  &:hover {
    @apply shadow-md;
    transform: scale(1.05);
  }
}
